#root {
    max-width: 1280px;
    margin: 0 auto; /* Center horizontally */
    padding: 2rem;
    text-align: center;
    height: 100vh; /* Take full height of the view */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally, if needed */
    justify-content: flex-start; /* Stick to the top */
}

nav {
    padding: 1em;
    display: flex;
    gap: 1em;
    min-width: 1000px;
    margin-bottom: 2em;
}

@media (prefers-color-scheme: light) {
    nav {
        background: #f4f4f4;
    }
}

@media (prefers-color-scheme: dark) {
    nav {
        background: #333;
    }
}


#welcome-list {
    align-self: center;
    align-items: center;
    margin: 0 auto;
}

ul {
    text-align: center;
    width: auto;
    display: inline-block;
}

li {
    text-align: left;
    width: auto;
}

button {
    background-color: lightgray;
    margin-left: 10px;
    font-size: 12px;
}

@media (prefers-color-scheme: light) {
    button {
        background-color: lightgray;
    }
}

@media (prefers-color-scheme: dark) {
    button {
        background-color: darkgrey;
    }
}

